<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <form method="POST" action="/">
        <button type="submit" name="add" value="add"class="btn">Add New Student</button><br>
        <button type="submit" name="search" value="search"class="btn">Search for a Student by Id</button><br>
        <button type="submit" name="display" value="display" class="btn">Display all the Students</button>
    </form>
    
</body>
</html>